<form class="form-horizontal" method="POST" action="/new-entry">
    <fieldset>
        <legend>Blog Post Entry Form</legend>
        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input type="text" name="title" id="title">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="urlslug">URL Slug</label>
            <div class="controls">
                <input type="text" class="input-medium" name="urlslug" id="urlslug">
                <p class="help-block">The url slug for this blog entry, the ending of the URL. ie 'http://localhost:5000/entry/<b><u>the-itp-story</u></b>'</p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="content">Entry content</label>
            <div class="controls">
                <textarea class="input-xlarge" id="content" name="content" rows="6" cols="50"></textarea>
            </div>
        </div>
        
        <hr />
        
        <div class="control-group">
            <label class="control-label" for="title">Author name</label>
            <div class="controls">
                <input type="text" name="name" id="name">
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="title">Author email</label>
            <div class="controls">
                <input type="text" name="email" id="email">
            </div>
        </div>
        
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save entry</button>
            <button class="btn">Cancel</button>
        </div>
    </fieldset>
</form>

<script>

</script>