<h1>Example blog made with MongoDB</h1>
<br><br>
<% for(i=0; i<posts.length; i++) { %>
<div class="row">

    <div class="span12">

        <h2>
            <a href="/entry/<%= posts[i].urlslug %>">
                <%= posts[i].title %>
            </a>
        </h2>
        <small>By <%= posts[i].author.name %> on <%= posts[i].date %></small>
        <hr />
        
    </div>
</div>

<% } %>


<!-- THIS SECTION IS FOR INSTRUCTIONAL PURPOSES -->
<div class="row">

    <div class="span10">
        <h3>Code sample - how all blog posts were queried</h3>
        <pre>
// from web.js
// main page - display all blog posts
// More Mongoose query information here
// http://mongoosejs.com/docs/finding-documents.html

app.get('/', function(request, response) {

    // build the query
    var query = BlogPost.find({});
    query.sort('date',-1); //sort by date in descending order

    // run the query and display blog_main.html template if successful
    query.exec({}, function(err, allPosts){

        // prepare template data
        templateData = {
            posts : allPosts
        };

        // render the card_form template with the data above
        response.render('blog_main.html', templateData);

    });

});
// end of main page
        </pre>
    </div>

</div>
