<div class="row">
    <div class="span12">
        <form method="POST" action="/">
    
            <div class="row">
                <div class="span8 offset2">
                    <h2>To: <%= to %></h2>
                    <br>
                    <h2 class="message">
                        <%= message %>
                    </h2>
                    <br>
                    <img class="span8" src="/img/<%= image %>" alt="valentine image">
                </div>
            </div>
            
            <div class="row">
                <div class="span10 offset2">
                    
                    
                    <h2>From: <%= from %></h2>
                    
                    <br><br>
                    <h3><a href="/">Make a new card</a></h3>
                </div>
                
            </div>

        </form>
    </div>
</div>