<div class="row">
    <div class="span12">
        <form method="POST" action="/">
    
            <div class="row">
                <div class="span4 offset2">
                    <label for="to">To:</label>
                    <input type="text" name="to" id="to" size="40">
                </div>
                <div class="span4 offset1">
                    <label for="from">From:</label>
                    <input type="text" name="from" id="from" size="40">
                </div>
            </div>
            
            <div class="row">
                <div class="span7 offset2">
                    <br />
                    <label for="message">Message:</label>
                    <textarea name="message" id="message" cols="200" rows="12"></textarea>
                </div>
            </div>
            
            <div class="row">
                <div class="span10 offset2">
                    <br/>
                    <label for="image">Pick one image:</label>
                </div>
            </div>
            <div class="row">
                <div class="span1">&nbsp;</div>
                
                <% for(i=0; i<images.length; i++) { %>
                <div class="offset1 span2"> <!-- twitter bootstrap grid -->
                    <input type="radio" name="image" value="<%= images[i] %>">
                    <img src="/img/<%= images[i] %>" alt="<%= images[i] %>">
                </div>
                <% } %>
                
            </div>
            
            <div class="row">
                <div class="offset4 span4">
                    <br/><br/>
                    <input type="submit" class="span4 btn-info" value="Make that card" />
                    
                    <br><br>
                    <a href="https://github.com/johnschimmel/ExpressJs-Valentine-Card-Maker">See the code on Github</a>
                </div>
            </div>

        </form>
    </div>
</div>