<style>

div.post {
     width: 180px;
     float:left;
     background:lightgray;
     margin:8px;
     padding:3px;
}

</style>
<div class="row">
    
    <!-- LEFT COLUMN -->
    <div class="span6">
        <h2>Example of using REQUEST module to use remote JSON</h2>
        
    <!-- Loop through all blogposts -->
    <% for(i=0; i<blogposts.length; i++) {%>
        <div class="post">
            <h3><a href="http://dwd-mongodb.herokuapp.com/entry/<%= blogposts[i].urlslug %>"><%= blogposts[i].title %></a></h3>
            <p>by <%= blogposts[i].author.name %></p>
        </div>
    <% } %>
    </div>
    
    <!-- RIGHT COLUMN -->
    <div class="span6">
        requested url:<br>
        <a href="<%= source_url %>" target="_new"><%= source_url %></a><br>
        
    </div>
</div>

